<!DOCTYPE HTML>
<html>

<head>
    <title>Cadastro Dependente</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Filtro Cadastro Dependentes</h1>
    <form action="/dependente/filtros" method="GET">
        <label for="idade">Idade:</label>
        <input type="text" id="idade" name="idade"><br><br>
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Limpar" /></p>
    </form>
    <a href="/consulta/listadependente"><button>Lista Filtro</button></a>

</body>

</html>